@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: barlow;
    src: url(fontes/Barlow-Thin.ttf);

}

body{
    background-color: rgb(212, 235, 212);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

a{
    font-size: 18px;
    border-radius: 10px;
    margin: auto;
    color: rgb(18, 202, 64);
    font-weight: bolder;
    text-decoration: none;
}

a.externo::after{
    content: '\1F517';
}

h1#cabecalho{
    font-family: barlow;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.493);
}

header{
    background-image: linear-gradient(to bottom, rgb(0, 245, 12), rgb(8, 32, 2));
    color: white;
    padding: 10px;
    margin: auto;
    margin: 0px;
    box-shadow: 6px 5px 10px 2px rgba(0, 0, 0, 0.315);
}

header > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.548);
}

nav{
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.384);
    transition-duration: 1s;
}

nav > a{
    text-decoration: none;
    color: rgb(0, 172, 0);
    padding: 10px;
    font-weight: bold;
}

nav > a:hover{
    background-color: rgb(161, 250, 168);
    border-radius: 10px;
    margin: auto;
}


/*           ----- // -----      */

main{
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius:0px 0px 20px 20px;
    min-width: 280px;
    max-width: 800px;
    box-shadow: 1px 2px 18px 0px rgba(0, 0, 0, 0.452);
}

strong{
    color: rgb(18, 202, 64);
}

h1#main{
    font-family: idroid;
    color: rgb(12, 95, 12);
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.425);
}

main > p > a{
    text-decoration: none;
    color: rgb(65, 230, 106);
    font-weight: bolder
}

main p{
    text-align: justify;
    text-indent: 25px;
    font-size: 20px;
    line-height: 30px;
}

.main{
    text-align: left;
    font-family:idroid;
    color: rgb(12, 95, 12);
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.322);
    background-image: linear-gradient(90deg, rgb(147, 236, 147), transparent);
    padding: 10px;
    border-radius: 10px;
}

.video{
    background-color: rgb(99, 201, 99);
    margin: 10px 0px 30px 0px;
    padding:40px;
    padding-bottom: 51.2%;
    border-radius: 20px;
    box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.452);
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h3{
    background-color: rgb(99, 201, 99);
    border-radius: 20px 20px 0px 0px;
    color: rgb(3, 51, 1);
    text-align: left;
    padding: 10px;
    font-weight: normal;
    font-size: 25px;
    font-weight: 50%;
}

aside{
    background-color: rgb(181, 250, 181);
    border-radius: 20px;
    text-align: justify;
    box-shadow: 3px 3px 16px 1px rgba(0, 0, 0, 0.226);
}

aside p{
    margin: 20px;
    padding-bottom: 10px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
    text-align: justify;
}

abbr{
    text-decoration: none;
}

Footer{
    background-color: black;
    color: white;
    margin:20px 0px 0px 0px; 
}